<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @personality_category.label %>
</p>

<%= link_to 'Edit', edit_personality_category_path(@personality_category) %> |
<%= link_to 'Back', personality_categories_path %>
